<div id="cards">
    <div class="card-body">
        
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username"><br><br>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="userpassword"><br><br>
     <span>Remember Me</span> <input class="chkbx" type="checkbox"/>
<p>{{msg}}</p>
<button (click)="logIn()">Login</button>
    </div>

</div>






