<app-navbar></app-navbar>
<form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="userdetails[0].username"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="userdetails[0].email"><br><br>

    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" [(ngModel)]="userdetails[0].first_name"><br><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" [(ngModel)]="userdetails[0].last_name"><br><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" [(ngModel)]="userdetails[0].address"><br><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" [(ngModel)]="userdetails[0].city"><br><br>

    <label for="state">State:</label>
    <input type="text" id="state" name="state" [(ngModel)]="userdetails[0].state"><br><br>

    <label for="zip_code">Zip Code:</label>
    <input type="text" id="zip_code" name="zip_code" [(ngModel)]="userdetails[0].zip_code"><br><br>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" [(ngModel)]="userdetails[0].country"><br><br>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" [(ngModel)]="userdetails[0].phone"><br><br>

    <input type="submit"/>
</form>
