<app-navbar></app-navbar>

<div class="card text-dark bg-info mb-3 m-auto" style="max-width: 18rem;">
    <div class="card-header">{{ userprofile.username }} Profile</div>
    <div class="card-body">
        <h5 class="card-title">User Id : {{ userprofile.id }}</h5>
        <p class="card-text">Email : {{ userprofile.email }}</p>
        <p class="card-text">First Name : {{ userprofile.first_name }}</p>
        <p class="card-text">Last Name : {{ userprofile.last_name }}</p>
        <p class="card-text">Address : {{ userprofile.address }}</p>
        <p class="card-text">City : {{ userprofile.city }}</p>
        <p class="card-text">State : {{ userprofile.state }}</p>
        <p class="card-text">Zipcode : {{ userprofile.zip_code }}</p>
        <p class="card-text">Country : {{ userprofile.country }}</p>
        <p class="card-text">Phone : {{ userprofile.phone }}</p>
    </div>
</div>
